@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
	--background: #EFF7F6;
	--check:#afb;
	--ball:#f2eee3;
}

.dark {
	--background: #2F242C;
	--check: #f2eee3;
	--ball: #afb;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

.modal-container.show {
	opacity: 1;
	pointer-events: auto;

}

.modal-container {
	background-color: rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	pointer-events: none;
	opacity: 1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	transition: opacity 0.3s ease;
}

.modal {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.25rem;
	width: 600px;
	max-width: 100%;
	text-align: center;
}

.portfolio-grid{
	
}